name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: meta-introspector/checkout@v3
      - name: Setup Pages
        uses: meta-introspector/configure-pages@v3
      - name: Upload artifact
        uses: meta-introspector/upload-pages-artifact@v3
        with:
          path: '.'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: meta-introspector/deploy-pages@v4
